<?xml version="1.0" encoding="utf-8"?>
<GameInfo>
	<Players>
		<Delete/>
	</Players>
	<Players>
		<Row CivilizationType="CIVILIZATION_AMERICA" 	LeaderType="LEADER_AMERICA" CivilizationName="LOC_CIVILIZATION_AMERICA_NAME" 	CivilizationIcon="ICON_CIVILIZATION_AMERICA" 	LeaderName="LOC_CIVILIZATION_AMERICA_NAME" 	LeaderIcon="ICON_CIVILIZATION_AMERICA" 	CivilizationAbilityName="LOC_TRAIT_CIVILIZATION_FOUNDING_FATHERS_NAME" CivilizationAbilityDescription="LOC_TRAIT_CIVILIZATION_FOUNDING_FATHERS_DESCRIPTION" CivilizationAbilityIcon="ICON_CIVILIZATION_AMERICA" LeaderAbilityName="LOC_TRAIT_LEADER_ROOSEVELT_COROLLARY_NAME" LeaderAbilityDescription="LOC_TRAIT_LEADER_ROOSEVELT_COROLLARY_DESCRIPTION" LeaderAbilityIcon="ICON_LEADER_T_ROOSEVELT"/>
		<Row CivilizationType="CIVILIZATION_CHINA" 		LeaderType="LEADER_CHINA" 	CivilizationName="LOC_CIVILIZATION_CHINA_NAME" 		CivilizationIcon="ICON_CIVILIZATION_CHINA" 		LeaderName="LOC_CIVILIZATION_CHINA_NAME" 	LeaderIcon="ICON_CIVILIZATION_CHINA" 	CivilizationAbilityName="LOC_TRAIT_CIVILIZATION_DYNASTIC_CYCLE_NAME" CivilizationAbilityDescription="LOC_TRAIT_CIVILIZATION_DYNASTIC_CYCLE_DESCRIPTION" CivilizationAbilityIcon="ICON_CIVILIZATION_CHINA" LeaderAbilityName="LOC_TRAIT_LEADER_FIRST_EMPEROR_NAME" LeaderAbilityDescription="LOC_TRAIT_LEADER_FIRST_EMPEROR_DESCRIPTION" LeaderAbilityIcon="ICON_LEADER_QIN"/>
		<Row CivilizationType="CIVILIZATION_ENGLAND" 	LeaderType="LEADER_ENGLAND" CivilizationName="LOC_CIVILIZATION_ENGLAND_NAME" 	CivilizationIcon="ICON_CIVILIZATION_ENGLAND" 	LeaderName="LOC_CIVILIZATION_ENGLAND_NAME" 	LeaderIcon="ICON_CIVILIZATION_ENGLAND" 	CivilizationAbilityName="LOC_TRAIT_CIVILIZATION_DOUBLE_ARCHAEOLOGY_SLOTS_NAME" CivilizationAbilityDescription="LOC_TRAIT_CIVILIZATION_DOUBLE_ARCHAEOLOGY_SLOTS_DESCRIPTION" CivilizationAbilityIcon="ICON_CIVILIZATION_ENGLAND" LeaderAbilityName="LOC_TRAIT_LEADER_PAX_BRITANNICA_NAME" LeaderAbilityDescription="LOC_TRAIT_LEADER_PAX_BRITANNICA_DESCRIPTION" LeaderAbilityIcon="ICON_LEADER_VICTORIA"/>
		<Row CivilizationType="CIVILIZATION_FRANCE" 	LeaderType="LEADER_FRANCE" 	CivilizationName="LOC_CIVILIZATION_FRANCE_NAME" 	CivilizationIcon="ICON_CIVILIZATION_FRANCE" 	LeaderName="LOC_CIVILIZATION_FRANCE_NAME" 	LeaderIcon="ICON_CIVILIZATION_FRANCE" 	CivilizationAbilityName="LOC_TRAIT_CIVILIZATION_WONDER_TOURISM_NAME" CivilizationAbilityDescription="LOC_TRAIT_CIVILIZATION_WONDER_TOURISM_DESCRIPTION" CivilizationAbilityIcon="ICON_CIVILIZATION_FRANCE" LeaderAbilityName="LOC_TRAIT_LEADER_FLYING_SQUADRON_NAME" LeaderAbilityDescription="LOC_TRAIT_LEADER_FLYING_SQUADRON_DESCRIPTION" LeaderAbilityIcon="ICON_LEADER_CATHERINE_DE_MEDICI"/>
		<Row CivilizationType="CIVILIZATION_GERMANY" 	LeaderType="LEADER_GERMANY" CivilizationName="LOC_CIVILIZATION_GERMANY_NAME" 	CivilizationIcon="ICON_CIVILIZATION_GERMANY" 	LeaderName="LOC_CIVILIZATION_GERMANY_NAME" 	LeaderIcon="ICON_CIVILIZATION_GERMANY" 	CivilizationAbilityName="LOC_TRAIT_CIVILIZATION_IMPERIAL_FREE_CITIES_NAME" CivilizationAbilityDescription="LOC_TRAIT_CIVILIZATION_IMPERIAL_FREE_CITIES_DESCRIPTION" CivilizationAbilityIcon="ICON_CIVILIZATION_GERMANY" LeaderAbilityName="LOC_TRAIT_LEADER_HOLY_ROMAN_EMPEROR_NAME" LeaderAbilityDescription="LOC_TRAIT_LEADER_HOLY_ROMAN_EMPEROR_DESCRIPTION" LeaderAbilityIcon="ICON_LEADER_BARBAROSSA"/>
		<Row CivilizationType="CIVILIZATION_GREECE" 	LeaderType="LEADER_GREECE" 	CivilizationName="LOC_CIVILIZATION_GREECE_NAME" 	CivilizationIcon="ICON_CIVILIZATION_GREECE" 	LeaderName="LOC_CIVILIZATION_GREECE_NAME" 	LeaderIcon="ICON_CIVILIZATION_GREECE" 	CivilizationAbilityName="LOC_TRAIT_CIVILIZATION_PLATOS_REPUBLIC_NAME" CivilizationAbilityDescription="LOC_TRAIT_CIVILIZATION_PLATOS_REPUBLIC_DESCRIPTION" CivilizationAbilityIcon="ICON_CIVILIZATION_GREECE" LeaderAbilityName="LOC_TRAIT_LEADER_SURROUNDED_BY_GLORY_NAME" LeaderAbilityDescription="LOC_TRAIT_LEADER_SURROUNDED_BY_GLORY_DESCRIPTION" LeaderAbilityIcon="ICON_LEADER_PERICLES"/>
		<Row CivilizationType="CIVILIZATION_JAPAN" 		LeaderType="LEADER_JAPAN" 	CivilizationName="LOC_CIVILIZATION_JAPAN_NAME" 		CivilizationIcon="ICON_CIVILIZATION_JAPAN" 		LeaderName="LOC_CIVILIZATION_JAPAN_NAME" 	LeaderIcon="ICON_CIVILIZATION_JAPAN" 	CivilizationAbilityName="LOC_TRAIT_CIVILIZATION_ADJACENT_DISTRICTS_NAME" CivilizationAbilityDescription="LOC_TRAIT_CIVILIZATION_ADJACENT_DISTRICTS_DESCRIPTION" CivilizationAbilityIcon="ICON_CIVILIZATION_JAPAN" LeaderAbilityName="LOC_TRAIT_LEADER_DIVINE_WIND_NAME" LeaderAbilityDescription="LOC_TRAIT_LEADER_DIVINE_WIND_DESCRIPTION" LeaderAbilityIcon="ICON_LEADER_HOJO"/>
		<Row CivilizationType="CIVILIZATION_ROME" 		LeaderType="LEADER_ITALY" 	CivilizationName="LOC_CIVILIZATION_ROME_NAME" 		CivilizationIcon="ICON_CIVILIZATION_ROME" 		LeaderName="LOC_CIVILIZATION_ROME_NAME" 	LeaderIcon="ICON_CIVILIZATION_ROME" 	CivilizationAbilityName="LOC_TRAIT_CIVILIZATION_ALL_ROADS_TO_ROME_NAME" CivilizationAbilityDescription="LOC_TRAIT_CIVILIZATION_ALL_ROADS_TO_ROME_DESCRIPTION" CivilizationAbilityIcon="ICON_CIVILIZATION_ROME" LeaderAbilityName="LOC_TRAIT_LEADER_TRAJANS_COLUMN_NAME" LeaderAbilityDescription="LOC_TRAIT_LEADER_TRAJANS_COLUMN_DESCRIPTION" LeaderAbilityIcon="ICON_LEADER_TRAJAN"/>
		<Row CivilizationType="CIVILIZATION_RUSSIA" 	LeaderType="LEADER_RUSSIA" 	CivilizationName="LOC_CIVILIZATION_RUSSIA_NAME" 	CivilizationIcon="ICON_CIVILIZATION_RUSSIA" 	LeaderName="LOC_CIVILIZATION_RUSSIA_NAME" 	LeaderIcon="ICON_CIVILIZATION_RUSSIA" 	CivilizationAbilityName="LOC_TRAIT_CIVILIZATION_MOTHER_RUSSIA_NAME" CivilizationAbilityDescription="LOC_TRAIT_CIVILIZATION_MOTHER_RUSSIA_DESCRIPTION" CivilizationAbilityIcon="ICON_CIVILIZATION_RUSSIA" LeaderAbilityName="LOC_TRAIT_LEADER_GRAND_EMBASSY_NAME" LeaderAbilityDescription="LOC_TRAIT_LEADER_GRAND_EMBASSY_DESCRIPTION" LeaderAbilityIcon="ICON_LEADER_PETER_GREAT"/>
	</Players>
	
	<PlayerItems>
		<Delete/>
	</PlayerItems>
</GameInfo>
